# mongo
MONGO_URI=mongodb+srv://<username>:<password>@<url>.mongodb.net/?appName=<appName>
MONGO_DATABASE=<database>

# notification service
MS_NOTIFICATION_URL=<notification_service_url>

# jwt
JWT_SECRET=<jwt_secret>

# google oauth
GOOGLE_CLIENT_ID=<google_client_id>
GOOGLE_CLIENT_SECRET=<google_client_secret>
GOOGLE_SCOPE=openid,profile,email

# recaptcha
RECAPTCHA_SITE_KEY=<recaptcha_site_key>
RECAPTCHA_SECRET_KEY=<recaptcha_secret_key>

# github oauth
GITHUB_CLIENT_ID=<github_client_id>
GITHUB_CLIENT_SECRET=<github_client_secret>
GITHUB_REDIRECT_URI=<github_redirect_uri>

# microsoft oauth
MICROSOFT_CLIENT_ID=<microsoft_client_id>
MICROSOFT_SECRET_KEY=<microsoft_secret_key>
MICROSOFT_TENANT_ID=<microsoft_tenant_id>
MICROSOFT_REDIRECT_URI=<microsoft_redirect_uri>
MICROSOFT_AUTHORIZE_URI=https://login.microsoftonline.com/{tenant}/oauth2/v2.0/authorize
MICROSOFT_TOKEN_URI=https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token
MICROSOFT_GRAPH_URI=https://graph.microsoft.com
MICROSOFT_JWK_SET_URI=https://login.microsoftonline.com/{tenant}/discovery/v2.0/keys
MICROSOFT_SCOPE=openid profile email User.Read